resources/emv_config/schema/EMV_CTLS_Terminal.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="emvtypes.xsd"/>
<!-- future types cannot be parsed by current EMV-ADK framework
	<xs:include schemaLocation="emvfuturetypes.xsd"/>
-->

<xs:element name="TerminalData">
	<xs:complexType>
		<xs:all minOccurs="0">
			<!-- let's make some parameters mandatory as there are no reasonable defaults -->
			<xs:element name="CountryCodeTerm" type="hex2bcd3" minOccurs="1"/><!-- bcd3 -->
			<xs:element name="CurrencyTrans" type="hex2bcd3" minOccurs="1"/><!-- bcd3 -->

			<xs:element name="TermTyp" type="terminalType"/><!-- default 22 -->
			<xs:element name="ExpTrans" type="transactionExponentType"/>
			<xs:element name="SuppLang" type="hex"/>
			<xs:element name="FlowOptions" type="hex"/>
			<xs:element name="MaxCTLSTranslimit" type="hex4"/>
			<xs:element name="BeepVolume" type="hex2"/><!-- int0-100 -->
			<xs:element name="BeepFrequencySuccess" type="hex2"/>
			<xs:element name="BeepFrequencyAlert" type="hex2"/>
			<xs:element name="HostCommunicationTimeout" type="hex1" minOccurs="0"/>
			<xs:element name="SecondTapDelay" type="hex1" minOccurs="0"/>

			<!-- following elements generated by the framework -->
			<xs:element name="IFD_SerialNumber" type="bcd8"/>
			<xs:element name="KernelVersion" type="xs:string"/>
			<xs:element name="FrameworkVersion" type="xs:string"/>
			<xs:element name="L1DriverVersion" type="xs:string"/>
		</xs:all>
	</xs:complexType>
</xs:element>
</xs:schema>
