resources/emv_config/schema/EMV_Terminal.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:include schemaLocation="emvtypes.xsd"/>
<!-- future types cannot be parsed by current EMV-ADK framework
	<xs:include schemaLocation="emvfuturetypes.xsd"/>
-->

<xs:element name="TerminalData">
	<xs:complexType>
		<xs:all minOccurs="0">
			<!-- let's make some parameters mandatory as there are no reasonable defaults -->
			<xs:element name="CountryCodeTerm" type="hex2bcd3" minOccurs="1"/><!-- bcd3 -->
			<xs:element name="CurrencyTrans" type="hex2bcd3" minOccurs="1"/><!-- bcd3 -->

			<xs:element name="TermTyp" type="terminalType"/><!-- default 22 -->
			<xs:element name="TermCap" type="hex3"/>
			<xs:element name="TermAddCap" type="hex5"/>
			<xs:element name="TermIdent" type="hex8"/>
			<xs:element name="ExpTrans" type="transactionExponentType"/>
			<xs:element name="SuppLang" type="hex"/>

			<!-- following elements generated by the framework -->
			<xs:element name="IFD_SerialNumber" type="bcd8"/>
			<xs:element name="KernelVersion" type="xs:string"/>
			<xs:element name="FrameworkVersion" type="xs:string"/>
			<xs:element name="L1DriverVersion" type="xs:string"/>
		</xs:all>
	</xs:complexType>
</xs:element>
</xs:schema>
